# Node.js関連
**/node_modules
**/build
**/dist
**/.env*
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/vite.config.ts.timestamp-*

# .NET関連
**/bin
**/obj
**/*.user
**/*.suo
**/*.log
**/*.tlog
**/.vs
**/.idea
**/*.dll
**/*.exe
**/*.pdb
**/*.cache

# Git関連
.git
.gitignore

# その他
*.DS_Store
*.env
/*output*
