# Node.js関連
client-app/node_modules
client-app/build
client-app/.env*
client-app/npm-debug.log*
client-app/yarn-debug.log*
client-app/yarn-error.log*

# .NET関連
JobHuntX.API/bin
JobHuntX.API/obj
JobHuntX.API/*.user
JobHuntX.API/*.suo
JobHuntX.API/*.log
JobHuntX.API/*.tlog
JobHuntX.API/.vs
JobHuntX.API/.idea
JobHuntX.API/*.dll
JobHuntX.API/*.exe
JobHuntX.API/*.pdb
JobHuntX.API/*.cache

# Git関連
.git
.gitignore

# その他
*.DS_Store
*.env