# development notes
/note.md
/.vscode
.env

# ##
# client-app specific ignores
# ##
/client-app/dist
/client-app/dist-ssr
/client-app/**/*.local

# dependencies
/client-app/node_modules
/client-app/.pnp
/client-app/**/.pnp.js

# testing
/client-app/coverage

# next.js
/client-app/.next/
/client-app/out/

# production
/client-app/build

# misc
/client-app/**/.DS_Store
/client-app/**/*.pem

# debug
/client-app/npm-debug.log*
/client-app/yarn-debug.log*
/client-app/yarn-error.log*

# local env files
/client-app/**/.env
/client-app/**/.env.local
/client-app/**/.env.development.local
/client-app/**/.env.test.local
/client-app/**/.env.production.local

# vercel
/client-app/**/.vercel

# automatically added by pnpm install
/client-app/.gitignore

# ##
# ASP.NET Core specific ignores
# ##
/JobHuntX.API/bin/
/JobHuntX.API/obj/
/JobHuntX.API/*.user
/JobHuntX.API/*.suo
/JobHuntX.API/*.userosscache
/JobHuntX.API/*.sln.docstates

# Logs
/JobHuntX.API/logs/
/JobHuntX.API/*.log
/JobHuntX.API/*.tlog

# Visual Studio specific ignores
/JobHuntX.API/.vs/
/JobHuntX.API/.vscode/

# Rider specific ignores
/JobHuntX.API/.idea/

# Build artifacts
/JobHuntX.API/*.dll
/JobHuntX.API/*.exe
/JobHuntX.API/*.pdb
/JobHuntX.API/*.cache
/JobHuntX.API/*.ilk
/JobHuntX.API/*.lib
/JobHuntX.API/*.obj
/JobHuntX.API/*.o
/JobHuntX.API/*.lo
/JobHuntX.API/*.slo
/JobHuntX.API/*.class
/JobHuntX.API/*.csproj.user
/JobHuntX.API/*.csproj.nuget.g.props
/JobHuntX.API/*.csproj.nuget.g.targets

# Dependency directories
/JobHuntX.API/packages/
/JobHuntX.API/.nuget/

# Generated files
/JobHuntX.API/*.generated.cs
